@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* COLORS */
:root {
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
}

/* FONTS */

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", sans-serif;
}

/* BASE RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This defines 1rem == 10px */
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-cream);
  color: var(--color-dark-grayish-blue);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 50rem;
  border-radius: 5px;
  transition: all .5s;
}

.product__img-container {
  width: 50%;
  height: 100%;
  background-image: url(./img/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px;
}

.product__details-container {
  background-color: var(--color-white);
  width: 50%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__name {
  text-transform: uppercase;
}

.product__heading {
  font-family: var(--font-secondary);
  line-height: 1.2;
  color: var(--color-very-dark-blue);
}

.product__info {

}

.product__price {
  display: flex;
  align-items: center;
}

.product__price--new {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  color: var(--color-dark-cyan);
  margin-right: 1.8rem;
}

.product__price--old {
  font-size: 1.2rem;
  text-decoration: line-through;
}

.product__buy {
  padding: 1rem 0;
  font-family: inherit;
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--color-dark-cyan);
  color: var(--color-white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
}

.product__buy:hover {
  background-color: hsl(158, 49%, 22%);
}

.product__buy--cart {
  margin-right: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 59.375em) { /* 950px / 16 */
  html {
    font-size: 56.25%;
  }

  .product {
    flex-direction: column;
    width: 60rem;
    height: 60rem;
  }

  .product__img-container {
    background-image: url(./img/image-product-mobile.jpg);
    height: 40%;
    border-radius: 5px 5px 0 0;
  }

  .product__details-container {
    height: 60%;
    border-radius: 0 0 5px 5px;
  }
}